*{
    font-family: 'Josefin Sans', sans-serif;
}
.body_colour{
    background-color:#151225;
    
}
.njt_fonts{
    color: rgb(78, 20, 237);
    font-size: 60px;
    font-weight: 1000;
}
.toggler_colour{
    background-color: rgb(228, 171, 171);
}
.toggler_colour:hover{
    background-color: rgb(101, 65, 65) ;
    transition-delay:.3s;
}
.nav_fonts{
    color: rgb(209, 233, 233);
    font-size: 20px;
    font-weight: 700;
}
.nav_fonts:hover{
    color: rgb(17, 232, 232);
    font-size: 20px;
    font-weight: 700;
    transition-delay:.3s;
}
.slide-font{
    color: rgb(150, 148, 145);
}
.slide-font:hover{
    color: rgb(239, 230, 214);
    transition-delay:.3s;
}
.about-me-heading{
    color: rgb(122, 122, 199);
    /* text-decoration: underline; */
    /* font-family:  'Brush Script MT', cursive; */
}
.about-me-heading:hover{
    color: rgb(53, 53, 234);
    transition-delay:.3s;
}
.about-me-para{
    /* font-family: 'Brush Script MT', cursive; */
    font-weight: 600;
    font-size: 19px;
}
.about-me-para-one{
    color: rgb(153, 140, 140);
} 
.about-me-para-one:hover{
    color: rgb(249, 219, 219);
    transition-delay:.3s;
} 
 .about-me-adv{
    color: rgb(120, 119, 119);
}
 .about-me-adv:hover{
    color: rgb(200, 200, 200);
    transition-delay:.3s;
}
.text_colour-uni{
    color: rgb(196, 191, 191);
}
.text_colour-uni:hover{
    color: rgb(248, 246, 246);
    transition-delay:.3s;
}
.span-textcolor{
    color: rgb(143, 254, 217);
}
.span-textcolor:hover{
    color: rgb(58, 247, 184);
}
.edu-font{
    font-size: 18px;
    font-weight: 500;
}
.footer_style{
    color: rgb(238, 234, 234);
    font-size: 15px;
    font-weight: 500;
}
.copy-wrt{
    color: red;
    font-size: 20px;
    font-weight: 700;
}
.btncolor{
    background-color: rgb(66, 90, 82);
    color: rgb(250, 250, 247) ;
}
.btncolor:hover{
    background-color: rgb(91, 243, 243);
   
}
.edu-text{
    font-size:25px ;
}
/* hover effect */
.visited_factory:hover{
    color: rgb(247, 175, 5);
    transition-delay:.3s;
}
.visited_factory{
    color: rgb(191, 147, 43);
}
.boxer{
    transition: 2s;
}
.boxer:hover{
 transform: scale(1.1);
 z-index: 1;
}
